body {
    font-family: 'Arial', sans-serif;
    background: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.container {
    text-align: center;
    width: 90%;
    max-width: 900px;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

h1 {
    margin-bottom: 20px;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.select-wrapper {
    position: relative;
    display: inline-block;
    width: 50%;
    margin-right: 10px;
}

.search-box input, .search-box select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
}

.search-box input {
    border-radius: 4px;
    width: calc(100% - 35px); /* Độ rộng của input trừ đi kích thước của nút */
}



.search-box button {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.search-box button:hover {
    background-color: #0056b3;
}

#map-container {
    height: 500px;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

#map {
    height: 100%;
    width: 100%;
}
